@namespace UteamUP.Client.Components.Inputs
@using System.Runtime.InteropServices.JavaScript;
@using Azure.Storage.Blobs
@using Microsoft.JSInterop;
@using System.Numerics

@inject IJSRuntime JSRuntime

<div class="drop-zone-wrapper" id="@_id" style="margin-top: 20px;">
    <svg width="62" height="40" viewBox="0 0 62 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M47.0919 10.6266C45.5235 7.70063 43.2454 5.21357 40.4484 3.38644C37.2307 1.28472 33.4908 0.173828 29.6322 0.173828C20.04 0.173828 11.911 7.01092 10.1718 16.296C4.64433 17.3208 0.5 22.1781 0.5 27.9378C0.5 34.4677 5.81246 39.7802 12.3424 39.7802H29.2129V24.7894L25.4265 28.5758C24.7284 29.2735 23.597 29.2735 22.8989 28.5758C22.2008 27.8777 22.2008 26.7464 22.8989 26.0483L29.7365 19.2112C30.4341 18.5131 31.5655 18.5131 32.2635 19.2112L39.1011 26.0483C39.7992 26.7464 39.7992 27.8777 39.1011 28.5758C38.7521 28.9249 38.2946 29.0994 37.8376 29.0994C37.3801 29.0994 36.9226 28.9249 36.5735 28.5758L32.7871 24.7894V39.7802H46.9225C54.9608 39.7802 61.5 33.2409 61.5 25.2027C61.5 17.2212 55.0524 10.7173 47.0919 10.6266V10.6266Z" fill="#0E0F1A">
        </path>
    </svg>
    <div role="button" tabindex="0" class="dropzone" @onclick="OnClickBrowseAsync">
        <h5>Upload your photos or documents</h5>
        <p>Drag and drop your files here or <span>Browse...</span></p>
    </div>
    <div style="padding-top: 10px;">
        <InputFile id="@_fileInputid" maxFileSize="@AllowedFileSize" accept="@_fileAcceptance" OnChange="@HandleOnChange" multiple />
    </div>
    @if(_uploadedFiles != null && _uploadedFiles.Any())
    {
        <div style="padding-bottom: 20px;"><strong>Total files going to be uploaded: [@_uploadedFiles.Count]</strong></div>
    }
    <div>
        <aside>
            <ul>
                @if (_uploadedFiles != null && _uploadedFiles.Any())
                {
                    @if (_uploadedFiles.Count > 5)
                    {
                        @foreach (var file in _uploadedFiles.Take(5))
                        {
                            <li><strong>@file.Name</strong> - <i style="color: #3e98c7">@file.Size bytes</i></li>
                        }
                        <li><strong style="color: #1a8f45">...</strong></li>
                    }
                    else
                    {
                        @foreach (var file in _uploadedFiles)
                        {
                            <li><strong>@file.Name</strong> - <div style="color: #3e98c7">@file.Size bytes</div></li>
                        }
                    }
                }
            </ul>
        </aside>
    </div>
    <li>Allowed files (@string.Join(", ", _allowedFileTypes))</li>
    <li>Maximum allowed file size is @_allowedFileSize</li>
</div>

@code {
    private string _id = Guid.NewGuid().ToString();
    private string _fileInputid = Guid.NewGuid().ToString();

    private InputFile _inputFileReference;
    private IJSObjectReference _module;
    private List<IBrowserFile> _uploadedFiles = new List<IBrowserFile>();

    [Parameter]
    public EventCallback<List<IBrowserFile>> OnChange { get; set; }

    // New parameters
    [Parameter]
    public string[] AllowedFileTypes { get; set; }
    private string[] _allowedFileTypes { get; set; }
    private string _fileAcceptance { get; set; }
    
    [Parameter]
    public long AllowedFileSize { get; set; } = 65 * 1024 * 1024; // default to 65MB
    private string _allowedFileSize { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        // Split the AllowedFileTypes by "/" and get the last element, set it to uppercase, save it to _allowedFileTypes
        _allowedFileTypes = AllowedFileTypes.Select(x => x.Split("/").Last().ToUpper()).ToArray();
        
        // add period to the beginning of each element in _allowedFileTypes and set it to lowercase, create a single string with comma separated values, save it to _fileAcceptance
        _fileAcceptance = string.Join(",", _allowedFileTypes.Select(x => "." + x.ToLower()));
        
        if((AllowedFileSize / 1024 / 1024) < 1)
            _allowedFileSize = AllowedFileSize / 1024 + " KB";
        else if((AllowedFileSize / 1024 / 1024 / 1024) < 1)
            _allowedFileSize = AllowedFileSize / 1024 / 1024 + " MB";
        else
            _allowedFileSize = AllowedFileSize / 1024 / 1024 / 1024 + " GB";
    }
    
    private async Task HandleOnChange(InputFileChangeEventArgs e)
    {
        var files = e.GetMultipleFiles().ToList();
        if (files != null && files.Any())
        {
            foreach (var file in files)
            {
                // Check file type and size
                if (!AllowedFileTypes.Contains(file.ContentType) || file.Size > AllowedFileSize)
                {
                    // Notify the page if the file is not allowed
                    await OnChange.InvokeAsync(null);
                    return;
                }
                
                _uploadedFiles.Add(file);
            }

            // Notify the page that the upload was successful
            await OnChange.InvokeAsync(_uploadedFiles);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/UteamUP.Client.Components/Components/Inputs/HorizonFileUpload.razor.js");
            await _module.InvokeVoidAsync("setupDropZone", _id, _fileInputid);
        }
    }

    private async Task OnClickBrowseAsync() => await _module.InvokeVoidAsync("openFileDialog", _fileInputid);
}
