@namespace UteamUP.Client.Components.Inputs

<div class="rich-text-editor-container" style="height: @Height">
    <MudTextField Text="@EditorContent" ReadOnly="@ReadOnly" Lines="10" Variant="Variant.Outlined" Label="Enter text here" />

    <InputFile multiple id="@_fileInputid" OnChange="@HandleOnChange"/>

    @if (_uploadedFiles != null)
    {
        <ul>
            @foreach (var file in _uploadedFiles)
            {
                <li>
                    <span>@file.Name - @file.Size bytes</span>
                </li>
            }
        </ul>
    }
</div>

@code {
    private string _fileInputid = Guid.NewGuid().ToString();
    private IReadOnlyList<IBrowserFile>? _uploadedFiles;

    [Parameter]
    public string EditorContent { get; set; }

    [Parameter]
    public bool ReadOnly { get; set; } = false;
    
    [Parameter]
    public string Height { get; set; } = "300px";

    [Parameter]
    public EventCallback<string> OnContentChange { get; set; }
    
    [Parameter]
    public EventCallback<IReadOnlyList<IBrowserFile>?> OnFileChange { get; set; }

    private void HandleOnChange(InputFileChangeEventArgs e)
    {
        _uploadedFiles = e.FileCount == 0 ? null : e.GetMultipleFiles(e.FileCount);

        OnFileChange.InvokeAsync(_uploadedFiles);
        
        OnContentChange.InvokeAsync(EditorContent);
    }
}
