@page "/create-user"
@using UteamUP.Client.Web.Repository.Interfaces
@using UteamUP.Client.Wizard.CreateUser.Models
@inject IUserRepository UserRepository

<Form Steps="@_steps"
      BackUrl="/global"
      ActiveStepIndex="@_activeStepIndex"
      Title="Create user"
      OnClickBackButton="OnClickBackButton"
      OnClickContinueButton="OnClickContinueButtonAsync"
      OnClickSubmitButton="OnClickContinueButtonAsync">
    @switch (_activeStepIndex)
    {
        case 0:
            <EditForm Model="@_model.BasicUserDetailsForm">
                <HorizonInput Label="Name" Placeholder="Name" @bind-Value="@_model.BasicUserDetailsForm.Name" />
                <HorizonInput Label="Email" Placeholder="Email" @bind-Value="@_model.BasicUserDetailsForm.Email" />
                <HorizonInput Label="Website" Placeholder="Website" @bind-Value="@_model.BasicUserDetailsForm.Website" />
            </EditForm>
            break;
        case 1:
            <EditForm Model="@_model.AddressUserDetailsForm">
                <HorizonInput Label="Country" Placeholder="Country" @bind-Value="@_model.AddressUserDetailsForm.Country" />
                <HorizonInput Label="Street Name" Placeholder="Street Name" @bind-Value="@_model.AddressUserDetailsForm.StreetName" />
                <HorizonInput Label="City" Placeholder="City" @bind-Value="@_model.AddressUserDetailsForm.City" />
                <HorizonInput Label="Postal Code" Placeholder="Postal Code" @bind-Value="@_model.AddressUserDetailsForm.PostalCode" />
            </EditForm>
            break;
        case 2:
            <EditForm Model="@_model.AddressUserDetailsForm">
                <p>Some tenant invites here</p>
            </EditForm>
            break;
        case 3:
            <EditForm Model="@_model.AddressUserDetailsForm">
                <p>Read the license agreement</p>
            </EditForm>
            break;
        default:
            break;
    }
</Form>

@code {
    [CascadingParameter] public GlobalState? AppState { get; set; }
    
    string? _oid = "";
    string? _name = "";
    string? _email = "";
    public int? Id { get; set; }

    AddNewUserForm _model = new AddNewUserForm();
    
    protected int _activeStepIndex = 0;

    private IDictionary<string, bool> _steps = new Dictionary<string, bool>()
    {
        { "Basic User Information", false },
        { "Address Information", false },
        { "Tenant Invites", false },
        { "License Agreement", false },
    };
    
    FluentValidationValidator? _fluentValidationValidator;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _oid = AppState?.Oid;
        _name = AppState?.Name;
        _email = AppState?.Email;

        MUser? user = await UserRepository.GetUserByOid(_oid);

    //_model = Mapper.Map<AddNewUserForm>(user);

    }
    
    private async Task OnClickContinueButtonAsync()
    {
        _steps[_steps.ElementAt(_activeStepIndex).Key] = true;
        _activeStepIndex = _activeStepIndex + 1;
    }
    
    private void OnClickBackButton() => _activeStepIndex = _activeStepIndex - 1;
}