@page "/create-user"
@using UteamUP.Client.Web.Repository.Interfaces
@using UteamUP.Client.Web.Wizard.CreateUser.Forms
@inject IUserRepository UserRepository

<Form Steps="@_steps"
      BackUrl="/global"
      ActiveStepIndex="@_activeStepIndex"
      Title="Create user"
      OnClickBackButton="OnClickBackButton"
      OnClickContinueButton="OnClickContinueButtonAsync"
      OnClickSubmitButton="OnClickSubmitButtonAsync">
    @switch (_activeStepIndex)
    {
        case 0:
            <EditForm Model="@_model.BasicUserDetailsForm">
                <HorizonInput Label="Name" Placeholder="Name" @bind-Value="@_model.BasicUserDetailsForm.Name" Enabled="false" />
                <HorizonInput Label="Email" Placeholder="Email" @bind-Value="@_model.BasicUserDetailsForm.Email" Enabled="false" />
                <HorizonInput Label="Website" Placeholder="Website" @bind-Value="@_model.BasicUserDetailsForm.Website" />
                <HorizonInput Label="Phone" Placeholder="Your Phone" @bind-Value="@_model.BasicUserDetailsForm.Phone" />
                <HorizonInput Label="Company or Department" Placeholder="Company or Department" @bind-Value="@_model.BasicUserDetailsForm.DepartmentCompany" />
            </EditForm>
            break;
        case 1:
            <EditForm Model="@_model.AddressUserDetailsForm">
                <HorizonInput Label="Country" Placeholder="Country" @bind-Value="@_model.AddressUserDetailsForm.Country" />
                <HorizonInput Label="Street Name" Placeholder="Street Name" @bind-Value="@_model.AddressUserDetailsForm.StreetName" />
                <HorizonInput Label="City" Placeholder="City" @bind-Value="@_model.AddressUserDetailsForm.City" />
                <HorizonInput Label="Postal Code" Placeholder="Postal Code" @bind-Value="@_model.AddressUserDetailsForm.PostalCode" />
            </EditForm>
            break;
        case 2:
            <EditForm Model="@_model.AddressUserDetailsForm">
                <p>Read the license agreement</p>
                <p>Accept the license agreement</p>
                <InputCheckbox @bind-Value=@_model.LicenseAgreementForm.LicenseAgreement />
            </EditForm>
            break;
        default:
            break;
    }
</Form>

@code {
    [CascadingParameter] public GlobalState? AppState { get; set; }
    
    string? _oid = "";
    string? _name = "";
    string? _email = "";
    public int? Id { get; set; }

    AddNewUserForm _model = new AddNewUserForm();
    
    protected int _activeStepIndex = 0;

    private IDictionary<string, bool> _steps = new Dictionary<string, bool>()
    {
        { "Basic User Information", false },
        { "Address Information", false },
        { "License Agreement", false },
    };
    
    FluentValidationValidator? _fluentValidationValidator;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _oid = AppState?.Oid;
        _name = AppState?.Name;
        _email = AppState?.Email;
        
        _model.BasicUserDetailsForm.Name = _name;
        _model.BasicUserDetailsForm.Email = _email;

        MUser? user = await UserRepository.GetUserByOid(_oid);

        _model.BasicUserDetailsForm.Website = user.Website;
        _model.BasicUserDetailsForm.Phone = user.Phone;
        _model.BasicUserDetailsForm.DepartmentCompany = user.DepartmentCompany;
        _model.AddressUserDetailsForm.Country = user.Country;
        _model.AddressUserDetailsForm.StreetName = user.StreetName;
        _model.AddressUserDetailsForm.City = user.City;
        _model.AddressUserDetailsForm.PostalCode = user.PostalCode;
        
        _model.LicenseAgreementForm.LicenseAgreement = user.HasAcceptedLicenseAgreement;
        
        //_model = Mapper.Map<AddNewUserForm>(user);

    }
    
    private async Task OnClickSubmitButtonAsync()
    {
        Console.WriteLine("Submit button clicked");
        // Map the form data to the user object
        MUserUpdateDto user = new MUserUpdateDto();
        user.Name = _model.BasicUserDetailsForm.Name;
        user.Email = _model.BasicUserDetailsForm.Email;
        user.Website = _model.BasicUserDetailsForm.Website;
        user.Phone = _model.BasicUserDetailsForm.Phone;
        user.DepartmentCompany = _model.BasicUserDetailsForm.DepartmentCompany;
        user.Country = _model.AddressUserDetailsForm.Country;
        user.StreetName = _model.AddressUserDetailsForm.StreetName;
        user.City = _model.AddressUserDetailsForm.City;
        user.PostalCode = _model.AddressUserDetailsForm.PostalCode;
        user.HasAcceptedLicenseAgreement = _model.LicenseAgreementForm.LicenseAgreement;
        
        // Save the user information
        MUserUpdateDto? updatedUser = await UserRepository.UpdateUserByOid(user, _oid);
        
        // Check if the updated user has successfully been updated with checking if updatedUser is not null
        if(string.IsNullOrWhiteSpace(updatedUser.Name) == null)
            throw new Exception("User has not been updated");

        // If the user has HasTenantInvites as true, then redirect to tenantInvites page
        MUser? checkUser = await UserRepository.GetUserByOid(_oid);

        // If the user has FirstLogin as true redirect to Create Tenant page
        if(checkUser.IsFirstLogin)
            NavigationManager.NavigateTo("/create-tenant");
        else
            NavigationManager.NavigateTo("/global");
    }
    
    private async Task OnClickContinueButtonAsync()
    {
        _steps[_steps.ElementAt(_activeStepIndex).Key] = true;
        _activeStepIndex = _activeStepIndex + 1;
    }
    
    private void OnClickBackButton() => _activeStepIndex = _activeStepIndex - 1;
}