@page "/global"
<AuthorizeView>
    <Authorized>
        <div style="width: 800px; margin-left: auto; margin-right: auto;">
            <div style="margin-left: auto; margin-right: auto; align-content: center; text-align: center; padding-top: 40px;">
                <div style="margin-right: auto; margin-left: auto;">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <div style="padding-right: 20px;">
                            <a href="/" type="button" class="btn btn-warning" style="width: 150px; margin: auto;">Back</a>
                        </div>
                        <div>
                            <a href="/swagger/index.html" type="button" class="btn btn-secondary" style="width: 150px; margin: auto;">Swagger</a>
                        </div>
                    </div>

                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <div style="padding: 10px">
                            <a href="/create-user" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Create User</a>
                        </div>
                        <div style="padding: 10px">
                            <a href="/create-tenant" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Create Tenant</a>
                        </div>
                        <div style="padding: 10px">
                            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Accept Invites</a>
                        </div>
                        <div style="padding: 10px">
                            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Activate User</a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-left: auto; margin-right: auto; align-content: center; text-align: center; padding-top: 40px;">
                @if (AppState != null){
                    @if (!string.IsNullOrWhiteSpace(AppState.Oid))
                    {
                    <table class="table table-striped" style="width: 700px; margin: auto;">
                        <thead>
                        <tr>
                            <td>Name</td>
                            <td>Value</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td>@AppState.Name</td>
                        </tr>
                        <tr>
                            <td>Oid</td>
                            <td>@AppState.Oid</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>@AppState.Email</td>
                        </tr>
                        <tr>
                            <td>First Login</td>
                            <td>@AppState.FirstLogin</td>
                        </tr>

                        <tr>
                            <td>Is activated</td>
                            <td>
                                <p>@AppState.IsActivated</p>
                            </td>
                        </tr>

                        <tr>
                            <td>Has user in DB</td>
                            <td>@AppState.HasDatabaseUser</td>
                        </tr>
                        <tr>
                            <td>User has tenant invites</td>
                            <td>@AppState.HasTenantInvites</td>
                        </tr>
                        <tr>
                            <td>Invites Count</td>
                            @if (@AppState.TenantsInvited != null)
                            {
                                <td>@AppState.TenantsInvited.Count</td>
                            }
                            else
                            {
                                <td>0</td>
                            }
                        </tr>

                        <tr>
                            <td>Tenant Count</td>
                            @if (@AppState.Tenants != null)
                            {
                                <td>@AppState.Tenants.Count</td>
                            }
                            else
                            {
                                <td>0</td>
                            }
                        </tr>
                        </tbody>
                    </table>
                    }else
                    {
                        <p>Loading...</p>
                    }
                }else
                {
                    <p>Loading...</p>
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>You must be signed in to see this content.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    // TODO: Figure out why we get "Unhandled exception rendering component: Object reference not set to an instance of an object."
    [CascadingParameter] public GlobalState? AppState { get; set; }
}