@page "/global"
@inject ITenantWebRepository TenantWebRepository

<AuthorizeView>
<Authorized>
<div style="width: 800px; margin-left: auto; margin-right: auto;">
    <div style="margin-left: auto; margin-right: auto; align-content: center; text-align: center; padding-top: 40px;">
        <div style="margin-right: auto; margin-left: auto;">
            <div>
                <label class="input-container">
                    Navigation
                </label>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div style="padding-right: 20px;">
                    <a href="/" type="button" class="btn btn-warning" style="width: 150px; margin: auto;">Back</a>
                </div>
                <div>
                    <a href="/swagger/index.html" type="button" class="btn btn-secondary" style="width: 150px; margin: auto;">Swagger</a>
                </div>
            </div>
            <div>
                <label class="input-container">
                    User Tasks
                </label>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div style="padding: 10px">
                    <a href="/create-user" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Create User</a>
                </div>
                <div style="padding: 10px">
                    <a href="/activate-user" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Activate</a>
                </div>
                <div style="padding: 10px">
                    <a href="/accept-invite" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Accept Invites</a>
                </div>
            </div>
            <div>
                <label class="input-container">
                    Add Edit
                </label>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div style="padding: 10px">
                    <a href="/location-add" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Add Location</a>
                </div>
                <div style="padding: 10px">
                    <a href="/location-edit/1" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Edit Location</a>
                </div>
            </div>
            <div>
                <label class="input-container">
                    Tenant Tasks
                </label>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div style="padding: 10px">
                    <a href="/create-tenant" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Create Tenant</a>
                </div>
                <div style="padding: 10px">
                    <a href="/create-invite" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Send Invites</a>
                </div>
            </div>
            <div>
                <label class="input-container">
                    Global Create Tasks
                </label>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div style="padding: 10px">
                    <a href="/create-workorder" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Workorder</a>
                </div>
                <div style="padding: 10px">
                    <a href="/create-asset" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Asset</a>
                </div>
                <div style="padding: 10px">
                    <a href="/create-part" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Part</a>
                </div>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div style="padding: 10px">
                    <a href="/create-vendor" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Vendor</a>
                </div>
                <div style="padding: 10px">
                    <a href="/create-location" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Location</a>
                </div>
                <div style="padding: 10px">
                    <a href="/create-stock" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Stock</a>
                </div>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div style="padding: 10px">
                    <a href="/create-tool" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Tool</a>
                </div>
                <div style="padding: 10px">
                    <a href="/create-category" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Category</a>
                </div>
                <div style="padding: 10px">
                    <a href="/create-tag" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Tag</a>
                </div>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Report</a>
                </div>
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Subscription</a>
                </div>
                <div style="padding: 10px">
                    <a href="/create-plan" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Plan</a>
                </div>
            </div>
            <div>
                <label class="input-container">
                    Global Actions
                </label>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div style="padding: 10px">
                    <a href="/upload-document" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Upload</a>
                </div>
            </div>            
            <div>
                <label class="input-container">
                    Global Overview Tasks
                </label>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Workorders</a>
                </div>
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Assets</a>
                </div>
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Parts</a>
                </div>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Vendors</a>
                </div>
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Locations</a>
                </div>
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Reports</a>
                </div>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Tools</a>
                </div>
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Categories</a>
                </div>
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Tags</a>
                </div>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Stocks</a>
                </div>
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Stock Items</a>
                </div>
                
            </div>
            <div>
                <label class="input-container">
                    User Administrative Tasks
                </label>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 250px; margin: auto;">Manage Plans</a>
                </div>
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 250px; margin: auto;">Manage Tenant Users</a>
                </div>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 250px; margin: auto;">Manage Tenants</a>
                </div>
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 250px; margin: auto;">Manage All Users</a>
                </div>
            </div>
            <div>
                <label class="input-container">
                    Global Administrative Tasks
                </label>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 250px; margin: auto;">Manage Vendors</a>
                </div>
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 250px; margin: auto;">Manage Parts</a>
                </div>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 250px; margin: auto;">Manage Customers</a>
                </div>
                <div style="padding: 10px">
                    <a href="/global" type="button" class="btn btn-primary" style="width: 250px; margin: auto;">Manage Users</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-left: auto; margin-right: auto; align-content: center; text-align: center; padding-top: 40px;">
    @if (UserState != null)
    {
        @if (!string.IsNullOrWhiteSpace(UserState.User.Oid))
        {
            <table class="table table-striped" style="width: 700px; margin: auto;">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Value</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>@UserState.User.Name</td>
                </tr>
                <tr>
                    <td>Oid</td>
                    <td>@UserState.User.Oid</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>@UserState.User.Email</td>
                </tr>

                <tr>
                    <td>First Login</td>
                    <td>@UserState.User.IsFirstLogin</td>
                </tr>

                <tr>
                    <td>Is activated</td>
                    <td>
                        <p>@UserState.User.HasBeenActivated</p>
                    </td>
                </tr>

                <tr>
                    <td>Has user in DB</td>
                    <td>@HasDbUser</td>
                </tr>
                <tr>
                    <td>Default Tenant ID</td>
                    <td>@globalState.DefaultTenantId</td>
                </tr>
                <tr>
                    <td>Last DB Cache Updated</td>
                    <td>@globalState.LastUpdated</td>
                </tr>
                <tr>
                    <td>Next DB Cache Update</td>
                    <td>@globalState.LastUpdated.AddHours(10)</td>
                </tr>
                <tr>
                    <td>User has tenant invites</td>
                    <td>@UserHasInvites</td>
                </tr>
                <tr>
                    <td>Invites Count</td>
                    @if (@InvitedUsers.Count != 0)
                    {
                        <td>@InvitedUsers.Count</td>
                    }
                    else
                    {
                        <td>0</td>
                    }
                </tr>

                <tr>
                    <td>Tenant Count</td>
                    @if (Tenants.Count != 0)
                    {
                        <td>@Tenants.Count</td>
                    }
                    else
                    {
                        <td>0</td>
                    }
                </tr>
                </tbody>
            </table>
        }
        else
        {
            <p>Loading...</p>
        }
    }
    else
    {
        <p>Loading...</p>
    }
</div>
<br />
</Authorized>
</AuthorizeView>

@code {
    private List<Tenant> Tenants = new();
    private List<Tenant> InvitedUsers = new();

    private bool UserHasInvites = false;
    private bool HasDbUser = false;
    
    private GlobalState globalState = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (UserState?.User?.Oid != null)
        {
            globalState = await CustomAuthStateProvider.GetGlobalStateAsync();

            Tenants = await TenantWebRepository.GetOwnedTenantsAsync(UserState.User.Oid);
            // Should fix the bad request of no tenants
            InvitedUsers = await TenantWebRepository.GetInvitesAsync(UserState.User.Oid);

            if(Tenants.Count == 0 && InvitedUsers.Count == 0)
            {
                NavigationManager.NavigateTo("/create-tenant");
            }
            

            if (UserState.User.HasBeenActivated != null)
            {
                HasDbUser = true;
            }
            
        }
    }

}