@page "/global"
@inject ITenantWebRepository TenantWebRepository
@inject ILogger<Global> _Logger

<AuthorizeView>
<Authorized>
<div style="width: 800px; margin-left: auto; margin-right: auto;">
<div style="margin-left: auto; margin-right: auto; align-content: center; text-align: center; padding-top: 40px;">
<div style="margin-right: auto; margin-left: auto;">
<div>
    <label class="input-container">
        Navigation
    </label>
</div>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <div style="padding-right: 20px;">
        <a href="/" type="button" class="btn btn-warning" style="width: 150px; margin: auto;">Back</a>
    </div>
    <div>
        <a href="/swagger/index.html" type="button" class="btn btn-secondary" style="width: 150px; margin: auto;">Swagger</a>
    </div>
</div>
<div>
    <label class="input-container">
        User Tasks
    </label>
</div>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <div style="padding: 10px">
        <a href="/create-user" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Create User</a>
    </div>
    <div style="padding: 10px">
        <a href="/activate-user" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Send Invites</a>
    </div>
    <div style="padding: 10px">
        <a href="/accept-invite" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Accept Invites</a>
    </div>
</div>
<div>
    <label class="input-container">
        Add Edit
    </label>
</div>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <div style="padding: 10px">
        <a href="/location-add" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Add Location</a>
    </div>
    <div style="padding: 10px">
        <a href="/location-edit/1" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Edit Location</a>
    </div>
    <div style="padding: 10px">
        <a href="/tenant-add" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Add Tenant</a>
    </div>
    <div style="padding: 10px">
        <a href="/tenant-edit/1" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Edit Tenant</a>
    </div>
</div>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <div style="padding: 10px">
        <a href="/vendor-add" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Add Vendor</a>
    </div>
    <div style="padding: 10px">
        <a href="/vendor-edit/1" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Edit Vendor</a>
    </div>
    <div style="padding: 10px">
        <a href="/category-add" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Add Category</a>
    </div>
    <div style="padding: 10px">
        <a href="/category-edit/1" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Edit Category</a>
    </div>
</div>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <div style="padding: 10px">
        <a href="/tool-add" type="button" class="btn btn-danger" style="width: 150px; margin: auto;">Add Tool</a>
    </div>
    <div style="padding: 10px">
        <a href="/tool-edit/1" type="button" class="btn btn-danger" style="width: 150px; margin: auto;">Edit Tool</a>
    </div>
    <div style="padding: 10px">
        <a href="/stock-add" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Add Stock</a>
    </div>
    <div style="padding: 10px">
        <a href="/stock-edit/1" type="button" class="btn btn-danger" style="width: 150px; margin: auto;">Edit Stock</a>
    </div>
</div>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <div style="padding: 10px">
        <a href="/part-add" type="button" class="btn btn-secondary" style="width: 150px; margin: auto;">Add Part</a>
    </div>
    <div style="padding: 10px">
        <a href="/part-edit/1" type="button" class="btn btn-secondary" style="width: 150px; margin: auto;">Edit Part</a>
    </div>
    <div style="padding: 10px">
        <a href="/asset-add" type="button" class="btn btn-secondary" style="width: 150px; margin: auto;">Add Asset</a>
    </div>
    <div style="padding: 10px">
        <a href="/asset-edit/1" type="button" class="btn btn-secondary" style="width: 150px; margin: auto;">Edit Asset</a>
    </div>
</div>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <div style="padding: 10px">
        <a href="/create-plan" type="button" class="btn btn-secondary" style="width: 150px; margin: auto; color: white; background: mediumpurple">Add Plan</a>
    </div>
    <div style="padding: 10px">
        <a href="/global" type="button" class="btn btn-secondary" style="width: 150px; margin: auto;">Edit Plan</a>
    </div>
    <div style="padding: 10px">
        <a href="/global" type="button" class="btn btn-secondary" style="width: 150px; margin: auto;">Add Report</a>
    </div>
    <div style="padding: 10px">
        <a href="/global" type="button" class="btn btn-secondary" style="width: 150px; margin: auto;">Edit Report</a>
    </div>
</div>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <div style="padding: 10px">
        <a href="/workorder-add" type="button" class="btn btn-secondary" style="width: 160px; margin: auto;">Add Workorder</a>
    </div>
    <div style="padding: 10px">
        <a href="/workorder-edit/1" type="button" class="btn btn-secondary" style="width: 160px; margin: auto;">Edit Workorder</a>
    </div>
    <div style="padding: 10px">
        <a href="/template-add" type="button" class="btn btn-secondary" style="width: 150px; margin: auto;">Add Template</a>
    </div>
    <div style="padding: 10px">
        <a href="/template-edit/1" type="button" class="btn btn-secondary" style="width: 150px; margin: auto;">Edit Template</a>
    </div>
</div>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <div style="padding: 10px">
        <a href="/stockitem-add" type="button" class="btn btn-secondary" style="width: 160px; margin: auto;">Add Stock Item</a>
    </div>
    <div style="padding: 10px">
        <a href="/stockitem-edit" type="button" class="btn btn-secondary" style="width: 160px; margin: auto;">Edit Stock Item</a>
    </div>
</div>
<div>
    <div>
        <label class="input-container">
            Global Actions
        </label>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <div style="padding: 10px">
            <a href="/upload-document" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Upload</a>
        </div>
    </div>
    <div>
        <label class="input-container">
            Global Overview Tasks
        </label>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <div style="padding: 10px">
            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Workorders</a>
        </div>
        <div style="padding: 10px">
            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Assets</a>
        </div>
        <div style="padding: 10px">
            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Parts</a>
        </div>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <div style="padding: 10px">
            <a href="/vendors" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Vendors</a>
        </div>
        <div style="padding: 10px">
            <a href="/locations" type="button" class="btn btn-danger" style="width: 150px; margin: auto;">Locations</a>
        </div>
        <div style="padding: 10px">
            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Reports</a>
        </div>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <div style="padding: 10px">
            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Tools</a>
        </div>
        <div style="padding: 10px">
            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Categories</a>
        </div>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <div style="padding: 10px">
            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Stocks</a>
        </div>
        <div style="padding: 10px">
            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Stock Items</a>
        </div>
        <div style="padding: 10px">
            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Reserved Parts</a>
        </div>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <div style="padding: 10px">
            <a href="/tags" type="button" class="btn btn-danger" style="width: 150px; margin: auto;">Tags</a>
        </div>
    </div>
    
    <div>
        <label class="input-container">
            User Administrative Tasks
        </label>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <div style="padding: 10px">
            <a href="/global" type="button" class="btn btn-primary" style="width: 250px; margin: auto;">Manage Plans</a>
        </div>
        <div style="padding: 10px">
            <a href="/global" type="button" class="btn btn-primary" style="width: 250px; margin: auto;">Manage Tenant Users</a>
        </div>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <div style="padding: 10px">
            <a href="/global" type="button" class="btn btn-primary" style="width: 250px; margin: auto;">Manage Tenants</a>
        </div>
        <div style="padding: 10px">
            <a href="/global" type="button" class="btn btn-primary" style="width: 250px; margin: auto;">Manage All Users</a>
        </div>
    </div>
    <div>
        <label class="input-container">
            Global Administrative Tasks
        </label>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <div style="padding: 10px">
            <a href="/global" type="button" class="btn btn-primary" style="width: 250px; margin: auto;">Manage Vendors</a>
        </div>
        <div style="padding: 10px">
            <a href="/global" type="button" class="btn btn-primary" style="width: 250px; margin: auto;">Manage Parts</a>
        </div>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <div style="padding: 10px">
            <a href="/global" type="button" class="btn btn-primary" style="width: 250px; margin: auto;">Manage Customers</a>
        </div>
        <div style="padding: 10px">
            <a href="/global" type="button" class="btn btn-primary" style="width: 250px; margin: auto;">Manage Users</a>
        </div>
    </div>
</div>
</div>
</div>
<div style="margin-left: auto; margin-right: auto; align-content: center; text-align: center; padding-top: 40px;">
    @if (globalState != null)
    {
        @if (!string.IsNullOrWhiteSpace(globalState.Oid))
        {
            <table class="table table-striped" style="width: 700px; margin: auto;">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Value</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>@globalState.Name</td>
                </tr>
                <tr>
                    <td>Oid</td>
                    <td>@globalState.Oid</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>@globalState.Email</td>
                </tr>

                <tr>
                    <td>First Login</td>
                    <td>@globalState.FirstLogin</td>
                </tr>

                <tr>
                    <td>Is activated</td>
                    <td>
                        <p>@globalState.IsActivated</p>
                    </td>
                </tr>

                <tr>
                    <td>Has user in DB</td>
                    <td>@HasDbUser</td>
                </tr>
                <tr>
                    <td>Default Tenant ID</td>
                    <td>@globalState.DefaultTenantId</td>
                </tr>
                <tr>
                    <td>Last DB Cache Updated</td>
                    <td>@globalState.LastUpdated</td>
                </tr>
                <tr>
                    <td>Next DB Cache Update</td>
                    <td>@globalState.LastUpdated.AddHours(10)</td>
                </tr>
                <tr>
                    <td>User has tenant invites</td>
                    <td>@UserHasInvites</td>
                </tr>
                <tr>
                    <td>Invites Count</td>
                    @if (InvitesCount != 0)
                    {
                        <td>@InvitesCount</td>
                    }
                    else
                    {
                        <td>0</td>
                    }
                </tr>

                <tr>
                    <td>Tenant Count</td>
                    @if (TenantsCount != 0)
                    {
                        <td>@TenantsCount</td>
                    }
                    else
                    {
                        <td>0</td>
                    }
                </tr>
                </tbody>
            </table>
        }
        else
        {
            <p>Loading...</p>
        }
    }
    else
    {
        <p>Loading...</p>
    }
</div>
<br/>
</div>
</Authorized>
</AuthorizeView>

@code {
    private List<Tenant> Tenants = new();
    private List<Tenant> InvitedUsers = new();
    
    private int InvitesCount = 0;
    private int TenantsCount = 0;

    private bool UserHasInvites = false;
    private bool HasDbUser = false;

    private GlobalState globalState = new();
    private async Task<GlobalState> GetGlobalState()
    {
        var state = await LocalStorageService.GetItemAsync<GlobalState>("globalState");
        StateHasChanged();
        return state;
    }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var state = await GetGlobalState();
        globalState = state;

        try{
            if (globalState.Oid != null)
            {
                
                
                if(globalState.TenantsInvited != null) InvitesCount = globalState.TenantsInvited.Count;
                if(globalState.Tenants != null) TenantsCount = globalState.Tenants.Count;

                if (TenantsCount == 0 && InvitesCount == 0)
                {
                    NavigationManager.NavigateTo("/tenant-add");
                }
                
                if(InvitesCount > 0)
                {
                    NavigationManager.NavigateTo("/accept-invite");
                }
                
                if (TenantsCount == 0)
                {
                    NavigationManager.NavigateTo("/tenant-add");
                }

                if (globalState.IsActivated != null)
                {
                    HasDbUser = true;
                }
            }
        }
        catch(Exception ex)
        {
            _Logger.LogError(ex, "Error in OnInitializedAsync");
        }
    }

}